/*======================================*/
/*				RESET				    */
/*======================================*/

html {
	font-size :16px;
}
html, body {
	height: 100%;
}
html, body, div, span,  object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr,  address,  cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small,  strong, sub, sup, var,
b, u, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	font: inherit;
	font-family: var(--font-Gotham-Medium);
	border:none;
	background-color:inherit;
	color:inherit;
	outline:none;
	/*border:1px solid red;*/


}
img,fieldset {
	vertical-align:middle;
}

a { text-decoration:none;
	color: inherit;
}

p{
	line-height:1.8rem;
}

table {border-collapse:collapse;}

html {
	box-sizing: border-box;
}
*,::after,::before {
 box-sizing:inherit
}
ul,ol,li {
	list-style:none;
	display: inline-block;
}


/*======================================*/
/*				FONT				    */
/*======================================*/
@font-face {
	font-family: "Gotham-Black";
	src: url(../font/Gotham-Black.otf);
}
@font-face {
	font-family: "Gotham-Bold";
	src: url(../font/Gotham-Bold.otf);
}
@font-face {
	font-family: "Gotham-Medium";
	src: url(../font/Gotham-Medium.otf);
}
@font-face {
	font-family: "Gotham-Book";
	src: url(../font/Gotham-Book.otf);
}
@font-face {
	font-family: "Gotham-Light";
	src: url(../font/Gotham-Light.otf);
}


/*======================================*/
/*			COLOUR DEFINITION		    */
/*======================================*/
:root {
	


	--font-Gotham-Black: Gotham-Black,Helvetica,Arial,sans-serif ;
	--font-Gotham-Bold: Gotham-Bold,Helvetica,Arial,sans-serif ;
	--font-Gotham-Medium: Gotham-Medium,Helvetica,Arial,sans-serif ;
	--font-Gotham-Book: Gotham-Book,Helvetica,Arial,sans-serif ;
	--font-Gotham-Light: Gotham-Light,Helvetica,Arial,sans-serif ;


	--color-bg: #1b1d1f  ;
	--color-bigletter: #242527;
	--color-second-heading: #2f2f3b;
	--color-blue: #206bff;
	--color-paragraph-heading:#e3e3e3;
	--color-paragraph:#0a0a0a;
	--color-gallery-heading: #999ea6;
}

/********************************************/
/*											*/		
/*				GRID AND FONT			    */
/*											*/	
/********************************************/




/*======================================*/
/*				  COMMON 			    */
/*======================================*/

#common-container{
	display: grid;
	grid-template-columns: 2fr 8fr;
	grid-template-rows:max-content auto max-content;
	grid-template-areas: "logo nav"
						 "common-main common-main"
						 "footer footer" 
						 ;
	background-color:var(--color-bg);
}

#logo {
	justify-self:start;
	align-self:center;
	grid-area:logo;
	margin-left:3vw;
	height:4.2rem;
	z-index:110;

}
#logo a {
	display:block;
	position:relative;


}
#logo-svg {
	position:absolute;
	top:;
	display:block;
	height: 4.2rem;


}
#upper-tag, #lower-tag {
	fill:white;
}
#slash {
	fill: var(--color-blue);
}
#S {
	fill: var(--color-blue);
}
#e, #o, #n, #a, #h {
	fill:white;
}
#logo-svg-text {
	opacity:0;
}
#nav {
	grid-area:nav;
	justify-self:end;
	margin-right:3vw;
	z-index:100; 

}
#nav > li{
	padding: 2rem;

}
#nav a {
	position: relative;
	font-size: .875rem;
	padding: 0.3rem;
	color:white;
}
#nav a:after {
	content: "";
	display:inline-block;
	position: absolute;
	bottom:0rem;
	left:0px;
	width: 0;
	height:2px;
	transition: all 0.4s;
	background-color:white;
}
#nav a:hover:after {
	width: 100%;
}

#nav-mini {
	display:none;
	width: 2.4rem;
	height: 1.8rem;
	position: relative;
	cursor:pointer;
	z-index:110;
}
.line {
	position:absolute;
	left:0;
	width: 100%;
	height: 0.26rem;
	background-color:white;
	transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.3s;
}
.line01 {
	top:0;
	
}
.line02 {
	top: calc(50% - 0.13rem);
}
.line03 {
	bottom:0;
}
.nav-close .line01 {
	transform:rotate(45deg);
	top:50%;
}

.nav-close .line02, .nav-close .line03 {
	transform:rotate(-45deg);
	top:50%;
}

#footer {
	grid-area:footer;
	justify-self:end;
	padding-bottom:2vw;      
	padding-right:2vw;
}
#footer p{
	font-size:0.85rem;
	font-family:var(--font-Gotham-Light);
	color:var(--color-gallery-heading);
}
.stopscroll{
	overflow:hidden;
	/*position:absolute;*/
}

/*======================================*/
/*				  HOME 				    */
/*======================================*/

#home-container{
	width:100%;
	grid-area:common-main;
	display:grid;
	grid-template-columns:5fr 5fr;
	grid-template-areas:"intro-text intro-visual";
	justify-items:center;
	align-items:center;
	background-color:var(--color-bg);
}
#intro-text {
	width:40vw;
	height:22vw;
}

.big-text{
	padding:  1vw 0;
	font-size: 4vw;
	font-family: var(--font-Gotham-Bold);
	line-height:4.2vw;
	color:white;
}
.small-text{
	display:inline-block;
	font-size: 2.3vw;
	line-height:2.5vw;
	color:var(--color-second-heading);
	
}
#intro-visual {
	grid-area:intro-visual;
	width: 85%;
}
#svg-container {
	
}

#triangle-group path{
	fill: #206bff;

}
/*======================================*/
/*		       	 CONTACT			    */
/*======================================*/
#contact-container {

	width:100%;
	grid-area:common-main;
	display:grid;
	grid-template-columns:6fr 4fr;
	grid-template-areas:"contact-info contact-visual";
	justify-items:center;
	align-items:center;
	background-color:transparent;
	color:white;
}
#contact-container:before{
	content:'CONTACT';
	position:fixed;
	color:var(--color-bigletter);
	left:-20%;
	font-size:75vmin;
	font-family:var(--font-Gotham-Black);
	z-index:-10;

}

#contact-info:before {  /* bar */
	content: "";
	display:block;
	position:relative;
	left:2rem;
	background-color:white;
	height:0.16rem;
	width:calc(100% - 4rem);
}
#contact-info > * {
	padding: 0.5rem;
	margin:0 2rem;
	right:2rem;	
}
#contact-info > h1 {
	font-size: 2.2rem;
	font-family: var(--font-Gotham-Bold);
}
#contact-info > h2 {
	font-size: 1.6rem;
}
#contact-info > p {
	font-size:0.8rem;
	font-family: var(--font-Gotham-Book);
}

#contact-info  li {
	display: block;
	padding:0.3rem;
}

#contact-info a {
	font-size:0.8rem;
	font-family:var(--font-Gotham-Light);
}
#contact-info a:hover{
	font-family:var(--font-Gotham-Medium);
}

/*======================================*/
/*		       	  LAB				    */
/*======================================*/

#lab-container {
	grid-area:common-main;
	display: grid;
	grid-template-columns: 1fr;	
	grid-template-rows:max-content 1fr;
	grid-template-areas: "lab-list" 
						 "lab-content"
						 ;
	justify-items:center;
	background-color:transparent;
	color:white;
}

#lab-container:before{
	content:'LAB';
	position:fixed;
	color:var(--color-bigletter);
	left:-8%;
	font-size:75vmin;
	font-family:var(--font-Gotham-Black);
	z-index:-10;
}

#lab-list {
	padding:3rem;
	justify-self:left;
}
#lab-list li{
	cursor:pointer;
	padding:0.3rem 0.7rem;
	margin:0.2rem;
	border-radius:1.3rem;
	border-style:solid;
	border-width: 0.15rem;
	border-color:var(--color-gallery-heading);
	color:var(--color-gallery-heading);
}
#lab-list li:hover {
	border-color:var(--color-blue);
	color:var(--color-blue);
}


.lab-hover-click {
	border-color:var(--color-blue) !important;
	color:var(--color-blue)!important;
}
#lab-content {
	padding:3rem 5rem;
	align-self:stretch;

}

#lab-content >h1{
	font-size: 1.9rem;
	font-family:var(--font-Gotham-Bold);
	padding:2rem 0;
	
}
#lab-content >h2 {
	font-size: 1.5rem;
	padding:1.5rem 0 0 0;
}
#lab-content > p {
	line-height:2rem;
	padding:1.5rem;
	font-size: 1rem ;
	font-family: var(--font-Gotham-Light);
}
#lab-content > p:first-letter{
	padding-left: 1rem;
}

#lab-content code {
	display:block;
	font-family: monospace; 

}
#lab-content code span {
	font-family: monospace; 
}
#lab-content em {
	font-size: 1rem ;
	padding:0.2rem;
	border-radius:0.3rem;
	font-family: var(--font-Gotham-Book);
	background-color:var(--color-paragraph-heading);
}
#lab-content u {
	text-decoration: none;
	font-family: var(--font-Gotham-Book);
}
#lab-content p a {
	text-decoration:underline;
}

/*======================================*/
/*		   	  PORTFOLIO				    */
/*======================================*/


#portfolio-container {
	padding:7vw;
	grid-area:common-main;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:repeat(4,max-content);
	grid-template-areas:"title1"
						"gallery1"
						"title2"
						"gallery2";

	background-color:transparent;
}
#portfolio-container:before{
	content:'PORTFOLIO';
	position:fixed;
	color:var(--color-bigletter);
	left:-8%;
	font-size:75vmin;
	font-family:var(--font-Gotham-Black);
	z-index:-10;
}

#portfolio-container >h1:first-child{
	padding-top:0;
}
#portfolio-container > h1 {
	justify-self:start;
	padding: 3rem 0;
	font-size: 1.7rem;
	font-family: var(--font-Gotham-Bold);
	color:var(--color-gallery-heading);
}
#portfolio-container li {
	border-radius:8px;
	overflow:hidden;
	background-color:white;
	margin: 0.7rem;
	padding:0.4rem;

}



#portfolio-container a {
	display:block;
}


#gallery1,
#gallery2 {
	display:flex;
	flex-wrap:wrap;
	justify-content: center; 
}

.image-wrapper {
	overflow:hidden;
	width: 250px;
	text-align: center;	
	background-color:white;
}
#gallery1 .image-wrapper{
	height: 187.5px;
	line-height: 187.5px;

}
#gallery2 .image-wrapper {
	height: 175px;
	line-height:175px;

}

.image-wrapper img {
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
}

#gallery1 h3,
#gallery2 h3 {
	padding:0.5rem;
	padding-top:0.7rem;
	font-family:var(--font-Gotham-Bold);
	font-size:0.8rem ;
	background-color:var(--color-paragraph-heading);
	color:var(--color-paragraph);
}
#gallery1 h4,
#gallery2 h4{
	padding:0.5rem;
	padding-bottom: 0.7rem;
	font-size:0.7rem;
	font-family: var(--font-Gotham-Book);
	background-color:var(--color-paragraph-heading);
	color:var(--color-paragraph);
}

#gallery-modal {
	display:none;
	position:fixed;
	top:3vw;
	left:3vw;
	width:94vw;
	background-color:var(--color-paragraph-heading);
	z-index:200;
	color:black;
	padding:5vw;
	margin-bottom:5vw;
	overflow:auto;
	height:100%;
}
#gallery-modal:after {
	content:"";
	display:block;
	height:5vw;
}
#gallery-modal h1{
	font: 2rem var(--font-Gotham-Bold);
	color:var(--color-gallery-heading);
}
#gallery-modal h2{
	padding:2rem 0;
}
#gallery-modal p{
	padding:2vw 0;
	font-size:0.9em;
	font-family: var(--font-Gotham-Book);
	color:var(--color-paragraph);
}
#gallery-modal em {
	font-size:0.9em;
	font-family: var(--font-Gotham-Book);
	font-style: italic;
}
#gallery-modal p::first-letter{
	margin-left:2rem;
}
#gallery-modal > img{
	max-width:100%;
	max-height:100%;
	display:block;
	margin:0 auto;
}
.full-picture >img{
	width:100%;
	display:block;
	margin:0 auto;
}
#gallery-modal iframe{
	display:block;
	margin:0 auto;
	width:70vw;
	height:50vw;
}
#gallery-modal p a {
	text-decoration: underline;
}
#close-gallery {
	display:none;
	z-index:210;
	position:fixed;
	top:0;
	right:0;
	width:3rem;
	height:3rem;
	background-color:transparent;
	color:var(--color-gallery-heading);
	font-size:2rem;
	cursor:pointer;
	line-height:3rem;
}
#close-gallery:hover{
	color:white;
}
.modal-open {
	overflow:hidden;
	width: 100%;
	height:100%;
}


/*======================================*/
/*		   	  		ABOUT			    */
/*======================================*/
#article-container {
	padding: 8vw 3vw 6vw 3vw;
	grid-area:common-main;
	display: grid;	
	grid-template-columns: 50% 50%;
	grid-template-rows:repeat(4, max-content);
	grid-row-gap: 6rem;
	grid-template-areas:"article1-text article1-image" 
						"article2-image article2-text"
						"article3-text article3-image"
						"article4-image article4-text";
	background-color:transparent;

}
#article-container:before{
	content:'ABOUT';
	position:fixed;
	color:var(--color-bigletter);
	left:-20%;
	font-size:75vmin;
	font-family:var(--font-Gotham-Black);
	z-index:-10;

}
.image-content img {
	width:100%;
}
#article-container div:nth-child(4){
	grid-area:article2-image;
}
#article-container div:nth-child(8){
	grid-area:article4-image;
}
#article-container h1 {
	font-size: 2.6rem;
	font-family:var(--font-Gotham-Medium);
	color: var(--color-paragraph-heading);
}
#article-container p {
	padding-top:0.8rem;
	font-size:0.9rem;
	font-family:var(--font-Gotham-Book);
	color: var(--color-paragraph);
}
#article-container p::first-letter {
	margin-left: 1rem;
}

.text-content{
	width: 32rem;
	padding: 2.5rem;
	background-color:white;
	z-index:10;
}
.text-content.odd{
	justify-self:end;
}
.image-content {
	overflow:hidden;
	display:block;
	width:32rem;
	height:calc(32rem * 0.664);
	position:relative;
	top:2rem;
}
.image-content img {
	width:100%;
	display:none;
	position:absolute;
	filter:grayscale(95%);
	
}
.image-content.odd img{
	animation-name:fadeFromLeft;
	animation-duration:1s;
	animation-timing-function: linear;
}
.image-content.even img{
	animation-name:fadeFromRight;
	animation-duration:1s;
	animation-timing-function: linear;
}

@keyframes fadeFromLeft{
  from {opacity: 0.5;
  		/*top:30px;*/
		left:10px;
  		} 
  to { opacity: 1;
  		/*top:0px;*/
  		left:0px;
  	}
}
@keyframes fadeFromRight{
  from {opacity: 0.5;
  		/*top:30px;*/
		right:5px;
  		} 
  to { opacity: 1;
  		/*top:0px;*/
  		right:0;
  	}
}



.image-content.odd{
	justify-self:start;
	left:-2rem;

}
.image-content.even{
	justify-self:end;
	margin-right: -2rem; /* workaround of right:-2rem*/
}


/*======================================*/
/*				  MODAL 			    */
/*======================================*/


/*#nav-close:active {
	animation-name:slideUp;
	animation-duration:.5s;
	animation-timing-function: ease-out;
		animation-fill-mode:both;
}

@keyframes slideUp{
	from {
		bottom:0;
		opacity:0;
	}
	to {
		bottom:100%;
		opacity:1;
	}*/

/*======================================*/
/*			  MEDIA QUERY			    */
/*======================================*/
/*tablet
(usually the iPhone at 320px and 480px), the tablet (usually the iPad at 768px and 1024px)
1180까지 ABOUT


HOME, CONTACT : no change for tablet;

max-with:100px  <== if it is less than 100px
*/

/*FONT & NAV */
@media only screen and (max-width:1120px){   
	:root {
		font-size:14px;
	}


}
@media only screen and (max-width: 600px){
	:root {
		font-size:12px;
	}

	#nav {
		display:none;

	}
	#nav-mini{
		display:block;
		grid-area:nav;
		justify-self:end;
		align-self:center;
		margin-right:3vw;
		background-color:transparent;
	}
	#nav > li {
		background-color:transparent;
	}
	#nav.nav-modal{
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
		background-color:rgba(0,0,0,0.8);

	}

	#nav > li{
		padding: 4vw;
	}
	#nav a {
		font-size: 5vw;
	}

	#nav a:hover:after {
	width: 0;
	}
}
/*ABOUT MOBILE*/
@media only screen and (max-width:970px) {
	#article-container {
		grid-area:common-main;
		display: grid;	
		grid-template-columns: 1fr;
		grid-template-rows:repeat(8,max-content);
		grid-row-gap: 2vw;
		grid-template-areas:"article1-text" "article1-image" 
							 "article2-text" "article2-image"
							"article3-text" "article3-image"
							"article4-text" "article4-image";

	}

	.text-content.even,
	.text-content.odd{
		width:75vw;
		padding:3vw;
		justify-self:center;
	}
	.image-content{
		width:70vw;
		height:calc(70vw * 0.664);
		justify-self:center;
		position:relative;
		top:-4vw;
		z-index: 1;
	}

	.image-content.odd {
		left:17vw;
	}
	.image-content.even{
		margin-right:17vw;
	}
}

/*HOME & CONTACT */
@media only screen and (max-width:600px){
	#home-container{
		grid-area:common-main;
		display:grid;
		grid-template-columns:1fr;
		grid-template-rows:auto auto;
		grid-template-areas: "intro-visual" "intro-text";	
	}

	#intro-text {
		width:100%;
		height:100%;
		grid-area:intro-text;
		align-self:center;
		justify-self:start;
		padding-left:8vw;
	}
	.big-text{
	padding: 1vw 0;
	font-size: 7vw;
	font-family: var(--font-Gotham-Bold);
	line-height:7vw;
	}
	.small-text{
	font-size: 3.5vw;
	line-height:4.5vw;
	}

	#intro-visual {
		grid-area:intro-visual;
	}
	#contact-visual {
		display:none;
	}
	#contact-container {
	grid-area:common-main;
	display:grid;
	grid-template-columns:1fr;
	grid-template-areas:"contact-info";
	}

}
